.prestation {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > .prestationList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    & > .prestationItem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
