.employee {
  margin: 10% auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > .introEmployee {
    margin-top: 5%;
    & > img {
      border-radius: 40px;
    }
  }
  & > .employeeList {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    & > .employeeItem {
      width: 80%;
      display: flex;
      justify-content: space-between;
      & > img {
        border-radius: 40px;
      }
      & > .employeeInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
